.title{
    display:inline;
    .button{
        background-color: red;
        float: right;
        margin-top: -45px;
    }
}

.firstgroup{
    margin-top: 20px;
    text-align: center;
    background-color: cadetblue;
}

.secondgroup{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
}

.thirdgroup{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
}

.forthgroup{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
}

.fifthgroup{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
}

.sixthgroup{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
}